/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.widefat .column-beastfeedbacks_date {
	width: 5em;
}

.widefat .column-beastfeedbacks_type {
	width: 3em;
}

.widefat .column-beastfeedbacks_source {
	width: 10em;
}

.widefat .column-beastfeedbacks_response {
	width: 100%;
}

/* 一覧上部のフィルター行 */
.tablenav.top .actions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

/* 絞り込みボタンの右に配置 */
.beastfeedbacks-export-btn {
	margin-left: auto;
	order: 99;
}

.beastfeedbacks-export-btn.button {
	margin-right: 8px;
}
