name: Plugin tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    # ここにバージョンが出るので「どの組み合わせを見ているか」を常に確認しやすい
    name: PHP ${{ matrix.php }} / WP ${{ matrix.wp }}

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['8.1', '8.3', '8.5'] # PHPメンテの最低、WordPress.org の推奨バージョン、現行最新バージョンをカバー
        wp: ['6.8', '6.9'] # 公開時の適応バージョン、現行最新バージョンをカバー

    env:
      # 後で使う用
      NODE_VERSION: '20'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install npm dependencies
        run: npm ci

      - name: Building Blocks
        run: npm run build

      - name: Install Composer dependencies
        run: composer install --no-interaction --no-progress

      - name: Generate .wp-env.json for matrix
        run: |
          sed -e "s/__PHP_VERSION__/${{ matrix.php }}/" \
              -e "s/__WP_VERSION__/${{ matrix.wp }}/" \
              .github/.wp-env.template.json > .wp-env.json

          echo "===== .wp-env.json ====="
          cat .wp-env.json

      - name: Start wp-env
        run: npm run wp-env:start

      - name: Run PHPUnit (wp-env:test)
        run: npm run wp-env:test

      - name: Run e2e tests (Playwright)
        run: npm run test:e2e

      - name: Stop wp-env
        if: always()
        run: npm run wp-env:stop
